body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin-bottom: 0;
    padding-right: 30px;
}

dialog :not(h2) {
    line-height: 1.25;
}

li {
    margin-top: 5px;
}

li li {
    font-size: 85%;
}

dialog {
    border: none;
    box-shadow: 0 0 16px gray;
    border-radius: 20px;
    max-width: calc(min(80ch, 90vw));
    max-height: 90vh;
    padding: 0;
}

dialog>div {
    padding: 0 20px 5px 20px;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.2);
}

label {
    -webkit-user-select: none;
    user-select: none;
}

button#close-dialog {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 15px;
    right: 15px;
}

table {
    margin: auto;
    border-collapse: collapse;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

thead td>div {
    display: flex;
    justify-content: space-evenly;
}

thead td {
    height: 30px;
    font-size: 16px;
}

.timer {
    padding: 1px 3px;
    border-radius: 3px;
    font-family: 'Menlo', 'Consolas', monospace;
}

.timer.faded {
    color: gray;
}

tbody:not(.punish-guessing) {
    --shadow-red: 128;
}

tbody.autopilot {
    --shadow-green: 128;
}

tbody.mindless {
    --shadow-blue: 128;
}

tbody {
    box-shadow: 8px 8px 8px rgba(var(--shadow-red, 0), var(--shadow-green, 0), var(--shadow-blue, 0), 0.2);
}

.tile {
    height: 36px;
    width: 36px;
    text-align: center;
    border: 1px solid black;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color: #eee;
}

.hidden {
    display: none;
}

.bg-red {
    background-color: pink;
}

.bg-green {
    background-color: lightgreen;
}

.bg-blue {
    background-color: lightblue;
}

.bg-orange {
    background-color: #ffcc99;
}

.bg-yellow {
    background-color: #ffff99;
}

.text-faded {
    color: rgba(0, 0, 0, 0.5);
}

.text-red {
    color: red;
}

.revealed {
    background-color: #ccc;
}

.number-1 {
    color: blue;
}

.number-2 {
    color: green;
}

.number-3 {
    color: red;
}

.number-4 {
    color: purple;
}

.number-5 {
    color: maroon;
}

.number-6 {
    color: teal;
}

.number-7 {
    color: black;
}

.number-8 {
    color: gray;
}